---
http_interactions:
- request:
    method: get
    uri: https://trailapi-trailapi.p.mashape.com/?limit=20&q%5Bactivities_activity_name_cont%5D=keystone&q%5Bactivities_activity_type_name_eq%5D=snow%20sports&q%5Bcity_cont%5D=dillon&q%5Bstate_cont%5D=Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - O08i6kp55lmsh5eIf5vs5kxXOVXRp1rwwswjsnOwrws1QwF4nb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b81fcd44b31e8e10901ffa3817a43df0"'
    body:
      encoding: UTF-8
      string: '{"places":[{"city":"Dillon","state":"Colorado","country":"United States","name":"Keystone
        Resort","parent_id":null,"unique_id":715,"directions":"From the Keystone Website:
        From Denver, take Interstate 70 west through the Eisenhower Tunnel to Dillon,
        exit 205.  Continue six miles east on U.S. Highway 6.","lat":39.60887,"lon":-105.94436,"description":null,"date_created":null,"children":[],"activities":[{"name":"Keystone
        Ski Resort","unique_id":"6-1","place_id":715,"activity_type_id":9,"activity_type_name":"snow
        sports","url":"http://www.snowtoit.com/trail.php?c=73&i=1","attribs":{"\"type\"":"\"Lift-serviced
        \\/ Resort\""},"description":"With a total vertical drop of 3,128 feet, Keystone
        offers long runs and plenty of terrain for skiers of all abilities. Trail
        difficulties are roughly broken into 20% easiest, 30% more difficult, and
        50% most difficult. The resort boasts over 3,100 skiable acres with snowmaking
        abilities covering about 600 acres. Keystone has 20 lifts, 135 trails, and
        gets an average of 230 inches of natural snow each year. The longest run,
        Schoolmarm, is 3.5 miles long.","length":0.0,"activity_type":{"created_at":"2012-08-15T17:33:19Z","id":9,"name":"snow
        sports","updated_at":"2012-08-15T17:33:19Z"},"thumbnail":"http://images.snowtoit.com/2011/10/keystone1_0004-0.jpg","rank":null,"rating":4.67}]},{"city":"Dillon","state":"Colorado","country":"United
        States","name":"Falcon","parent_id":null,"unique_id":18514,"directions":null,"lat":0.0,"lon":0.0,"description":null,"date_created":null,"children":[],"activities":[{"name":"Falcon","unique_id":"6-1524","place_id":18514,"activity_type_id":9,"activity_type_name":"snow
        sports","url":"http://www.snowtoit.com/trail.php?c=73&i=1524","attribs":{"\"type\"":"\"Lift-serviced
        \\/ Resort\""},"description":"Falcon is a shor[...]
