---
http_interactions:
- request:
    method: get
    uri: https://trailapi-trailapi.p.mashape.com/?limit=20&q%5Bactivities_activity_type_name_eq%5D=snow%20sports&q%5Bstate_cont%5D=Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - O08i6kp55lmsh5eIf5vs5kxXOVXRp1rwwswjsnOwrws1QwF4nb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7342639b3ab7a662f4153f0c8d2c13be"'
    body:
      encoding: UTF-8
      string: '{"places":[{"city":"Snowmass Village","state":"Colorado","country":"United
        States","name":"Garrett Gulch","parent_id":null,"unique_id":18503,"directions":null,"lat":0.0,"lon":0.0,"description":null,"date_created":null,"children":[],"activities":[{"name":"Garrett
        Gulch","unique_id":"6-1375","place_id":18503,"activity_type_id":9,"activity_type_name":"snow
        sports","url":"http://www.snowtoit.com/trail.php?c=73&i=1375","attribs":{"\"type\"":"\"Lift-serviced
        \\/ Resort\""},"description":"Advanced run similar to a natural half-pipe.  Accessed
        via the Sheer Bliss or Big Burn lifts.","length":0.0,"activity_type":{"created_at":"2012-08-15T17:33:19Z","id":9,"name":"snow
        sports","updated_at":"2012-08-15T17:33:19Z"},"thumbnail":null,"rank":null,"rating":4.0}]},{"city":"Durango","state":"Colorado","country":"United
        States","name":"Durango Mountain Resort","parent_id":null,"unique_id":14017,"directions":null,"lat":37.630968,"lon":-107.814054,"description":null,"date_created":null,"children":[],"activities":[{"name":"Durango
        Mountain Resort","unique_id":"6-693","place_id":14017,"activity_type_id":9,"activity_type_name":"snow
        sports","url":"http://www.snowtoit.com/trail.php?c=73&i=693","attribs":{"\"type\"":"\"Lift-serviced
        \\/ Resort\""},"description":"Durango Mountain Resort (formerly known as Purgatory)
        features 1,360 skiable acres, 250 of which is covered with snow making equipment.
        The highest point on the mountain is 10,882 feet, giving the resort a 2,029
        foot vertical drop.<br /><br />Durango Mountain Resort offers 10 lifts and
        the slope ratings are roughly split: 20% beginner, 45% intermediate, and 35%
        advanced. Max uphill capacity is 15,050 skiers and snowboarders per hour.
        Average annual snowfall is 230 inches and there are 88 runs.","length":0.0,"activity_type":{"created_at":"2012-08-15T17:33:19Z","id":9,"name":"snow
        sports","updated_at":"2012-08-15T17:33:19Z"},"thumbnail":"http://images.snowtoit.com/2011/04/durango_mountain5-0.jpg"[...]
