<h1><%= current_user.name %>'s Dashboard</h1>
<h3>Your dashboard is empty add your favorite resorts to begin playing</h3>


<h3>Search</h3>
<h4>Fields</h4>
<ul>
  <li>State ##dropdown</li>
  <li>City ##search field</li>
  <h4>Or</h4>
  <li>Search by name ##text field, look into autocomplete</li>
  <div class="search">
    <%= render partial: 'partials/resort_search' %>
  </div>
</ul><br><br>

<% unless current_user.phone_number %>
  <div class="phone">
    <%= render partial: 'partials/phone_number_form' %>
  </div>
<% end %>
