
<body class="landing">


  <div class="text-center">
    <h1 class="white-text">Customize your snow report!</h1>
    <p>C'mon, do it!</p>
  </div>

  <div class="text-center">
    <%= link_to "Login with Google", login_path , class:"btn btn-success"%>
  </div>

</body>
