<div class="col-md-4 phone-form">
  <h3>Add a phone # to receive text alerts</h3>
  <%= form_tag edit_session_path(id: current_user.id), method: :get do %>
    <%= label_tag :phone_number %>
    <%= text_field_tag :phone_number %>
    <%= submit_tag "Add Number", class:"btn btn-success" %>
  <% end %>
  <br>
</div>
