<div class="container">

  <h2 class="center" >Favorite Resorts</h2>
  <div class="row">
    <% @resorts.each do |resort| %>
      <div class="col-md-4">
        <ul>
          <li>Name: <%= resort.official_name %></li>
          <li>State: <%= resort.state %></li>
          <li>Description: <%= resort.description %></li>
          <li>Type: <%= resort.type %></li>
        </ul>
      </div>
    <% end %>
  </div>

</div>
